/* insertion de font modifité*/
@font-face {
  font-family: 'Leander';
  font-style: normal;
  font-weight: normal;
  src: local('Leander'), url('../font/Leander.woff') format('woff');
}

body {
  background-color: #0C0D0B;
  padding: 0;
  margin: 0;
  font-family: "lato";
}

/*image de font du main (placer dans le body)*/
.fond {
  z-index: -20;
  opacity: 20%;
  position: fixed;
  min-height: 100%;
  min-width: 100%;
}

h2 {
  font-size: 15px;
}


/* header =======================================================================================================*/
/*icon menu*/
#menuheader,
#menuheader span {
  margin: 0;
  padding: 0;
}

#menuheader {
  width: 60px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#menuheader span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #0C0D0B;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#menuheader span:nth-child(1) {
  top: 0px;
}

#menuheader span:nth-child(2),
#menuheader span:nth-child(3) {
  top: 18px;
}

#menuheader span:nth-child(4) {
  top: 36px;
}

#menuheader.burger_open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#menuheader.burger_open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#menuheader.burger_open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#menuheader.burger_open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/*translate du menu burger*/
.open {
  transform: none !important;
}


/*cache le menu déroulant quand il remonte*/
.cache {
  display: block;
  position: absolute;
  background-color: #0C0D0B;
  width: 100%;
  height: 100px;
  z-index: -3;
  bottom: 50px;
}

header {
  z-index: 10;
  background-color: #0C0D0B;
  padding: 5px;
  padding-bottom: 0;
  position: sticky;
  top: 0%;
  height: 6em;
}

.headerbackground {
  border-radius: 25px;
  background-color: #f2e4bb;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 5;
}

.logopiment {
  width: 65px;
  height: 65px;
  display: block;
}

.menuheader {
  width: 75px;
  height: 75px;
}

.size {
  width: 45px;
  height: 45px;
}

.titletabaskho {
  font-size: 200%;
  color: #0c0d0b;
}

/*menu burger positionnement*/
#menuderoulant {
  position: absolute;
  width: 20em;
  padding: 1em;
  background-color: #A69C80;
  border-radius: 20px;
  transform: translate(0, -100%);
  transition: .5s ease-in-out;
  z-index: -5;
}

.listbeige {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #f2e4bb;
  border-radius: 20px;
  padding: 8px;
  margin: 3px;
}

/*rectangle menu burger de décoration*/
.rectred {
  background-color: #8C2016;
  position: absolute;
  width: 5em;
  height: 282px;
  bottom: 0.5em;
  border-radius: 0 0 20px 20px;
  z-index: -1;
}

.lienlist {
  text-decoration: none;
  color: #0C0D0B;
  font-size: 20px;
  font-weight: 900;
}

/*cache le menu format ordinateur*/
.headerpc {
  display: none;
}

/*media querry*/
@media screen and (min-width: 1000px) {

  /*cache le menu telephone si le media querry est passé*/
  .headertel {
    display: none;
  }

  .cache {
    display: none;
  }

  /*affiche le menu ordinateur si le media querry est passé*/
  .headerpc {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  /*augmente la taille du nom du site*/
  .titletabaskho {
    font-size: 200%;
    color: #f2e4bb;
  }

  .listbeige {
    width: 12em;
    display: flex;
    justify-content: flex-start;
  }

}

/* main ==========================================================================================================*/
/* titre principal au centre de la page avec une police spécial*/
.peakyblinders {
  font-family: leander;
  size: 150%;
  background-color: #8C2016;
  border-radius: 20px;
  padding: 10px;
  color: #f2e4bb;
  text-align: center;
  letter-spacing: 5px;
  word-spacing: 10px;
  font-weight: 300;
  margin: 5px;
}

/* palce un flex qui place en ligne le content*/
.twoColum {
  display: flex;
  flex-direction: row;
}

.center {
  text-align: center;
}

/* le block aucupera 50% du conteneur*/
.demi {
  width: 50%;
}

.detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* utiliser pour le style des article*/
article {
  color: #f2e4bb;
  background-color: #0c0d0baf;
  margin: 0.2em;
  padding: 0.2em;
  border-radius: 20px;
}

/* placement des image de poster ou d'affiche pour eviter les déformation*/
.affiche {
  width: 100%;
  border-radius: 20px;
}

.photosSaison {
  width: 100%;
  max-width: 270px;
  border-radius: 20px;
}

.spacearound {
  display: flex;
  justify-content: space-around;
}

hr {
  color: #f2e4bb;
  width: 100%;
}

/* palce les notes des utilisateur et de la critique bien centrer et de la bonne forme*/
.notes {
  font-size: 20px;
  font-weight: 500;
  line-height: 0.2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 1.2em;
}

/* dépalce l'image de flamme pour la palcer a coté de la note plus proprement*/
.iconeflamme {
  position: relative;
  left: 35px;
  width: 20px;
  bottom: 30px;
  height: 20px;
}

.infos {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.listtags {
  background-color: #f2e4bb;
  border-radius: 20px;
  padding: 8px;
  margin: 3px;
  width: 140px;
  text-align: center;
  color: #0c0d0b;
}

.size2 {
  width: 65px;
  height: 65px;
}

.listderoulant>li {
  background-color: #f2e4bb;
}

/* palce les images des acteurs*/
.imagesacteurs {
  border-radius: 5rem;
  flex-shrink: 0;
  height: 4rem;
  object-fit: cover;
  vertical-align: top;
  width: 4rem;
}

.acteurs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* place la petite banniere sur les titres h2*/
.banniere {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #f2e4bb;
  background-color: #0c0d0baf;
  margin: 0.2em;
  margin-top: 1em;
  border-radius: 20px;
  padding-left: 20px;
}

.banniere>img {
  display: block;
}

figcaption {
  text-align: center;
}

/* place les incertion de vidéo youtube dans bonne proportion*/
.youtube {
  width: 100%;
  border-radius: 20px;
}

h2>a {
  color: #f2e4bb;
  text-decoration: none;
}

.circle {
  border-radius: 50%;
}

.beige {
  background-color: #f2e4bb;
  margin: 10px;
  border-radius: 10px;
}

.episode {
  padding: 10px;
}

.black {
  color: #0c0d0b;
}

.flexwrap {
  display: flex;
  flex-wrap: wrap;
}

.extraits {
  min-width: 400px;
  margin: auto;
  padding: 0;
}

/* media querry*/
@media screen and (min-width: 620px) {

  /* change la taille des margin du main selon la taille de l'écran*/
  main {
    margin: 0 10%;
    padding: 0.5em;
    background-image: linear-gradient(to bottom, #161814, #383d33);
  }

  /* change la taille des élement pour s'ajuster a la taille de l'écran*/
  article {
    padding: 1em;
  }

  h2 {
    font-size: 25px;
  }

  p {
    font-size: 20px;
  }

  /* change la taille des acteurs selon la taille de l'écran*/
  .imagesacteurs {
    border-radius: 5rem;
    flex-shrink: 0;
    height: 5.5rem;
    object-fit: cover;
    vertical-align: top;
    width: 5.5rem;
  }
}

@media screen and (min-width: 1000px) {

  /* change la taille des margin du main selon la taille de l'écran*/
  main {
    margin: 0 20%;
    padding: 1em;
    background-image: linear-gradient(to bottom, #161814, #383d33);
  }

  /* change la taille des acteurs selon la taille de l'écran*/
  .imagesacteurs {
    border-radius: 5rem;
    flex-shrink: 0;
    height: 7.4rem;
    object-fit: cover;
    vertical-align: top;
    width: 7.4rem;
  }
}

/* FOOTER =====================================================================================================*/
/*FORMAT TEL */
@media screen and (min-width: 0px) and (max-width: 620px) {

  footer {
    background: #A69C80;
    flex-shrink: 0;
    color: #0C0D0B;
    padding: 10px;
    margin: 0;
  }

  /* Disposition des logos pour les réseaux sociaux */
  .FOOTERreseaux {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .FOOTERsocial {
    color: #0C0D0B;
    transition: color 0.4;
    text-decoration: none;
    margin: 10px 15px;
    padding: 10px;
    border: #0C0D0B;
  }

  .FOOTERsocial:hover {
    color: #f2e4bb;
  }

  .FOOTERsavoirplus>a:hover {
    color: #f2e4bb;
  }

  .FOOTERsavoirplus>a {
    color: #0C0D0B;
    font-weight: bolder;
    font-style: italic;
  }

  .FOOTERsavoirplus {
    text-align: center;
  }

  /* Les auteurs du sites */
  .FOOTERauteur>a {
    color: #0C0D0B;
  }

  .FOOTERauteur>a:hover {
    color: #f2e4bb;
  }

  .FOOTERauteur {
    text-align: center;
    font-style: italic;
    font-weight: bolder;
  }

  .FOOTERbarrereseaux>hr {
    border-color: #0C0D0B;
    margin: 15px;
    margin-top: 0;
  }

  /* Changement de la couleur de la barre de séparation */
  footer>hr {
    border-color: #0C0D0B;
    margin: 15px;
  }

  .displaypetit {
    display: none;
  }

  .ASIDEreseaux {
    display: none;
  }
}

/* FORMAT PC */
@media screen and (min-width: 620px) {
  footer {
    background: #A69C80;
    flex-shrink: 0;
    color: #0C0D0B;
    padding: 0;
    margin: 0;
  }

  /* On enlève les réseaux du footer pour en faire un aside */
  .FOOTERreseaux {
    display: none;
  }

  /* Détail du Aside */
  .ASIDEsocial {
    list-style: none;
    position: fixed;
    top: 40%;
    right: 0;
    transform: translateY(-50%);
    z-index: 20;
  }

  .ASIDEreseau {
    margin: 10px 0;
    position: relative;
  }

  .ASIDEreseau>.ASIDElien {
    text-decoration: none;
    color: #f2e4bb;
    height: 60px;
    line-height: 60px;
    display: flex;
  }

  .ASIDEreseau>.ASIDElien>.ASIDEicone {
    background: #0C0D0B;
    width: 60px;
    height: 100%;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 24px;
  }

  /* Premier logo */

  .ASIDEreseau:nth-child(1)>.ASIDElien:hover>.ASIDEreseaunom {
    width: 180px;
    padding-right: 20px;
    right: 0px;
    transition: all 0.5s ease;
  }

  /* Deuxième logo */
  .ASIDEreseau:nth-child(2)>.ASIDElien:hover>.ASIDEreseaunom {
    width: 180px;
    padding-right: 20px;
    right: 0px;
    transition: all 0.5s ease;
  }

  /* Troisième logo */
  .ASIDEreseau:nth-child(3)>.ASIDElien:hover>.ASIDEreseaunom {
    width: 180px;
    padding-right: 20px;
    right: 0px;
    transition: all 0.5s ease;
  }

  /* Quatrième logo */
  .ASIDEreseau:nth-child(4)>.ASIDElien:hover>.ASIDEreseaunom {
    width: 180px;
    padding-right: 20px;
    right: 0px;
    transition: all 0.5s ease;
  }

  /* Cinquième logo */
  .ASIDEreseau:nth-child(5)>.ASIDElien:hover>.ASIDEreseaunom {
    width: 180px;
    padding-right: 20px;
    right: 0px;
    transition: all 0.5s ease;
  }

  /* Premier logo */
  .ASIDEreseau:nth-child(1):hover .ASIDEicone {
    right: 0px;
    transition: all 1s ease;
    transform: translateX(-205px)
  }

  /* Deuxième logo */
  .ASIDEreseau:nth-child(2):hover .ASIDEicone {
    right: 0px;
    transition: all 1s ease;
    transform: translateX(-205px)
  }

  /* Troisième logo */
  .ASIDEreseau:nth-child(3):hover .ASIDEicone {
    right: 0px;
    transition: all 1s ease;
    transform: translateX(-205px)
  }

  /* Quatrième logo */
  .ASIDEreseau:nth-child(4):hover .ASIDEicone {
    right: 0px;
    transition: all 1s ease;
    transform: translateX(-205px)
  }

  /* Cinquième logo */
  .ASIDEreseau:nth-child(5):hover .ASIDEicone {
    right: 0px;
    transition: all 1s ease;
    transform: translateX(-205px)
  }

  /* Texte du Aside */
  .ASIDEreseau>.ASIDElien>.ASIDEreseaunom {
    width: 0px;
    height: 100%;
    text-align: end;
    background: #0C0D0B;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    padding-right: 0;
    letter-spacing: 2px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    right: -180px;
    margin-left: 5px;
    border-radius: 50px 0 0 50px;
    transition: all 1s ease;
  }

  .FOOTERsavoirplus {
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .FOOTERsavoirplus>a:hover {
    color: #f2e4bb;
  }

  .FOOTERsavoirplus>a {
    color: #0C0D0B;
    text-decoration: none;
  }

  .FOOTERauteur>a:hover {
    color: #f2e4bb;
  }


  .FOOTERauteur>a {
    color: #0C0D0B;
    margin: 10px;
    text-decoration: none;
  }

  .FOOTERauteur {
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    padding: 25px;
  }

  .FOOTERbarrereseaux>hr {
    border-color: #0C0D0B;
    margin: 15px;
    margin-top: 0;
  }

  footer>hr {
    border-color: #0C0D0B;
  }

  .displaygrand {
    display: none;
  }
}